---
---

@import "minima";

/* Make header black */
.site-header {
  background-color: #000000;
  border-top: none;
  border-bottom: none;
}

/* Make title white */
.site-title {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.8rem;
}

/* Make navigation links white */
.site-nav .page-link {
  color: #ffffff !important;
}
